<div class="notice notice-{$message['type']} is-dismissible">
    {if $message['isHtml'] ?? false}
        <p>{$message['message']|noescape}</p>
    {else}
        <p>{$message['message']}</p>
    {/if}
</div>
