<div class="notice notice-{$message['type']} is-dismissible">
        <p>
                {if $logo}
                    <img src="{$logo}" alt="{$translations['packeta']}" class="packetery-logo">
                    <br>
                {/if}
                {if ( $message['escape'] ?? true ) === false}
                        {$message['message']|noescape}
                {else}
                        {$message['message']}
                {/if}
        </p>
</div>
