/.idea/
/vendor
/phpcs/vendor
/temp/*
!/temp/.gitignore
/log/
**/.DS_Store
/tests-coverage/
/config/config.local.neon
/node_modules/
phpunit.xml
soap-php-bugfix-dev.wsdl
/config/carrier-settings-import.php
/config/generate-demo-orders-config.php
/cli/demo-install/categories.tsv
/cli/demo-install/sample-categories-errors.log
/cli/demo-install/sample-categories.sh
