/.idea/
/vendor
/phpcs/vendor
/temp/*
!/temp/.gitignore
/log/
**/.DS_Store
/tests-coverage/
/config/config.local.neon
/node_modules/
phpunit.xml
soap-php-bugfix-dev.wsdl
/config/carrier-settings-import.php
