<?xml version="1.0" encoding="UTF-8"?>

<!-- https://docs.phpunit.de/en/10.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
		backupGlobals="false"
		colors="true"
		displayDetailsOnTestsThatTriggerWarnings="true"
		displayDetailsOnPhpunitDeprecations="true"
		displayDetailsOnTestsThatTriggerDeprecations="true"
		displayDetailsOnTestsThatTriggerErrors="true"
		displayDetailsOnTestsThatTriggerNotices="true"
		failOnWarning="true"
		failOnRisky="true"
		failOnPhpunitDeprecation="true"
		failOnDeprecation="true"
		bootstrap="tests/bootstrap.php"
		cacheResultFile="temp/.phpunit.result.cache"
>
	<php>
		<ini name="error_reporting" value="-1"/>
		<server name="APP_ENV" value="test" force="true"/>
	</php>

	<testsuites>
		<testsuite name="Project Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<coverage/>

	<source>
		<include>
			<directory>src/Packetery</directory>
		</include>
	</source>
</phpunit>
