<?xml version="1.0" encoding="UTF-8"?>
<!-- https://docs.phpunit.de/en/10.5/configuration.html -->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	backupGlobals="false"
	colors="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	enforceTimeLimit="false"
	bootstrap="tests/bootstrap.php"
	defaultTimeLimit="15"
	cacheResultFile="temp/.phpunit.result.cache"
	timeoutForMediumTests="30"
	timeoutForLargeTests="270"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	stderr="true"
	failOnEmptyTestSuite="true"
	failOnIncomplete="true"
	failOnNotice="true"
	failOnRisky="true"
	failOnDeprecation="true"
	failOnWarning="true"
	displayDetailsOnIncompleteTests="true"
	displayDetailsOnSkippedTests="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	beStrictAboutCoverageMetadata="true"
	displayDetailsOnPhpunitDeprecations="true"
	failOnPhpunitDeprecation="true"
>
	<php>
		<ini name="error_reporting" value="-1"/>
		<server name="APP_ENV" value="test" force="true"/>
	</php>

	<testsuites>
		<testsuite name="Project Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<coverage/>
</phpunit>
