<div id="packetery-widget-button-wrapper">
    <div class="form-row place-order packeta-widget">
        <div class="packetery-widget-button-row packeta-widget-button">
            <img src="{$logo}" alt="{__( 'Packeta', 'packetery' )}">
            <button class="button alt"> . . . </button>
        </div>
        <span class="packeta-widget-selected-address"></span>
        <p class="packeta-widget-info"></p>
    </div>
</div>
