<tr class="packetery-widget-button-table-row packetery-hidden">
    <th>
        <img src="{$logo}" alt="{__( 'Packeta', 'packetery' )}">
    </th>
    <td>
        {include 'widget-button.latte', showLogo => false}
    </td>
</tr>
