<div class="packetery-widget-button-wrapper">
	<div class="form-row packeta-widget packetery-hidden {$renderer}">
		<div class="packetery-widget-button-row packeta-widget-button">
			<img class="packetery-widget-button-logo" src="{$logo}" alt="{$translations['packeta']}">
			<button class="button alt"> . . .</button>
		</div>
		<p class="packeta-widget-selected-address"></p>
		<p class="packeta-widget-info"></p>
	</div>
</div>
