{varType string|null $currentValue}
{varType array<string, string> $translations}

<select name="packetery_shipping_restrictions">
	<option value="">{$translations['filterByShippingRestrictions']}</option>
	<option value="1"{if $currentValue === '1'} selected="selected"{/if}>{$translations['yes']}</option>
</select>
