{formContext $form}
<div id="{PacketeryModule\Product\DataTab::NAME}" class="panel woocommerce_options_panel">
    <p class="form-field">
        <label n:name=packetery_age_verification_18_plus />
        <input n:name=packetery_age_verification_18_plus />
    </p>
</div>
{/formContext}
