{php $this->global->formsStack[] = $form}

<div id="{Packetery\Product\Tab::NAME}" class="panel woocommerce_options_panel">
    <p class="form-field">
        <label n:name=packetery_age_verification_18_plus />
        <input n:name=packetery_age_verification_18_plus />
        <span>{inputError packetery_age_verification_18_plus}</span>
    </p>
</div>
