.packeta-widget.after-rate .packeta-widget-button .packetery-widget-button-logo {
  width: 45px;
  height: 45px;
  margin: 0 auto 5px auto;
}

.packeta-widget.after-rate .packetery-widget-button-row {
  width: 150px;
}
