.driver-popover.driverjs-theme {
  background-color: white;
  color: #000;
}

.driver-popover.driverjs-theme button {
  flex: 1;
  font-weight: 500;
  text-align: center;
  line-height: 1.125;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 0;
  color: #ba1b02;
  background-color: white;
  border-color: #ba1b02;
  position: relative;
  transition-duration: 0.3s;
  text-shadow: none;
  margin-left: 12px;
}

.driver-popover.driverjs-theme .driver-popover-next-btn:before, .driver-popover.driverjs-theme .driver-popover-prev-btn:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 7px;
  height: 7px;
  background-image: url("../images/corner-red.svg");
}
.driver-popover.driverjs-theme .driver-popover-next-btn:after, .driver-popover.driverjs-theme .driver-popover-prev-btn:after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 7px;
  height: 7px;
  background-image: url("../images/corner-red.svg");
  transform: rotate(180deg);
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns button:hover {
  background-color: #821301;
  border-color: #821301;
  color: #ffffff;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns .driver-popover-next-btn{
  color: white;
  background-color: #ba1b02;
  border-color: #ba1b02;;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  background: none;
  margin-left: auto;
  padding: 0;
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 28px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #9b9b9b;
  z-index: 1;
  text-align: center;
  transition: color;
  transition-duration: .2s;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  color: #000;
  background: none;
}
.custom-select2-wrapper {
  width: 500px;
}
.driver-active-element span.select2-dropdown.select2-dropdown--below  {
  z-index: 100000;
}

.driver-overlay {
  z-index: 100000 !important;
}
