parameters:
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
        - ../constants.php
    level: 1
    fileExtensions:
        - php
    paths:
        - ../src
    scanDirectories:
        - ../deps

