parameters:
	bootstrapFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
		- ../constants.php
	level: 8
	fileExtensions:
		- php
	paths:
		- ../src/Packetery/Core
	scanDirectories:
		- ../deps
		- ../src/Packetery/Module
