parameters:
	bootstrapFiles:
		- ../vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- ../vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
		- ../constants.php
	level: 4
	paths:
		- ../src/Packetery/Module
	treatPhpDocTypesAsCertain: false
	strictRules:
		allRules: true
	scanDirectories:
		- ../src/Packetery/Core
		- ../deps
