<p>
    {__( 'optionsExportInfo1', 'packetery' )}
    <a href="https://client.packeta.com/support/">https://client.packeta.com/support/</a>
    {__( 'optionsExportInfo2', 'packetery' )}
</p>

<p><a href="{$exportLink}" class="button">{__( 'exportPluginSettings', 'packetery' )}</a></p>

{if isset($lastExport)}
    <p>{__( 'settingsExportDatetime', 'packetery' )}: {$lastExport}</p>
{else}
    <p>{__( 'settingsNotYetExported', 'packetery' )}</p>
{/if}
