<p>
    {= __( 'Carrier Label Format', 'packetery' )}
</p>
<p>
    {= __( 'Relates to ', 'packetery' )} <a href="https://docs.packetery.com/03-creating-packets/06-packetery-api-reference.html#toc-packetscourierlabelspdf">{= __( 'documentation', 'packetery' )}</a>
</p>
