<div class="packetery-options-page">
	<h1>{__( 'Packeta', 'packetery' )} - {__( 'Country options', 'packetery' )}: {$country_iso|upper}</h1>

	{php settings_errors()}

	{if $forms}
		{foreach $forms as $carrier_data}
			{include 'carrier.latte', carrier_data: $carrier_data}
		{/foreach}
	{else}
		{__( 'No known carrier for this country.', 'packetery' )}
	{/if}
</div>
