
==== Versions:
Packeta plugin: {Packetery\Module\Plugin::VERSION}
WordPress: {$wpVersion}
WooCommerce: {$wcVersion}
Template: {$template}
PHP: {$phpVersion}
SOAP: {$soap}
WP debug: {$wpDebug}
Packeta debug: {$packetaDebug}

==== Global settings:
{$globalSettings}

==== Date of last update of carriers: {$lastCarrierUpdate}

==== Active carriers:
{$activeCarriers}

==== Packeta log (last 5 days):
{$lastFiveDaysLogs}

==== Generated: {$generated}
