<h1>Packeta - Options</h1>

<form action="options.php" method="post">
    {php settings_fields('packetery_options')}
    {php do_settings_sections('packeta-options')}
    {php submit_button()}
</form>
