.packetery-carrier-options-page input[type=text] {
    width: 600px;
}

.packetery-carrier-options-page .packetery-label {
    font-weight: bold;
}

.packetery-carrier-options-page .form-table td {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 30px;
}

.packetery-carrier-options-page .form-table th {
    padding: 0;
}

.packetery-order-metabox-label-cell {
    text-align: left;
}

.packetery-order-metabox-input {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.packetery-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.packetery-table-row {
    display: table-row;
}

.packetery-table-cell {
    display: table-cell;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
}

.log-error {
    font-weight: bold;
}

#packetery-options-page input[type=text], #packetery-options-page select {
    width: 500px;
    max-width: none;
}

.packetery-help-block {
    font-style: italic;
    color: #959595;
    display: block;
}
