parameters:
	latteTempFolder: %tempDir%/cache/view
	surveyConfig:
		active: true
		validTo: 2023-03-31 23:59:59
		url: https://forms.office.com/e/2YjCu9ZEt0
	carDeliveryConfig:
		sample: false
		enabled: false
	wcCarrierSettingsConfig:
		active: false
	featureFlagConfig:
		url: https://pes-features-prod-pes.prod.packeta-com.codenow.com/v1/wp

services:
	- Packetery\Module\Framework\WpAdapter
	- Packetery\Module\Framework\WcAdapter
	- Packetery\Module\Order\MetaboxesWrapper
	- Packetery\Module\Order\Form
	- Packetery\Module\Order\CarrierModal
	- Packetery\Module\Order\CarrierModalFormFactory
	- Packetery\Module\ContextResolver
	- Packetery\Module\Order\PacketCanceller
	- Packetery\Module\EntityFactory\Address
	- Packetery\Module\ModuleHelper
	- Packetery\Module\Payment\PaymentHelper
	- Packetery\Module\Log\Purger
	- Packetery\Module\Log\Repository
	- Packetery\Module\Log\DbLogger
	- Packetery\Module\Log\Page
	- Packetery\Module\CronService
	- Packetery\Module\Product\DataTab
	- Packetery\Module\Product\ProductEntityFactory
	- Packetery\Module\ProductCategory\ProductCategoryEntityFactory
	- Packetery\Module\ProductCategory\FormFields
	- Packetery\Core\CoreHelper
	- Packetery\Module\WebRequestClient
	- Packetery\Module\MessageManager
	- Packetery\Module\Order\Metabox
	- Packetery\Module\Order\CustomsDeclarationMetabox
	- Packetery\Module\Plugin
	- Packetery\Module\HookHandler
	latteEngineFactory: Packetery\Module\LatteEngineFactory
	latteEngine: @latteEngineFactory::create(%latteTempFolder%)
	- Packetery\Module\Options\Page
	optionsProvider: Packetery\Module\Options\OptionsProvider
	- Packetery\Module\Carrier\Downloader
	- Packetery\Module\Carrier\Updater
	- Packetery\Module\Carrier\Repository
	- Packetery\Module\Carrier\CarrierOptionsFactory
	wpdbAdapterFactory: Packetery\Module\WpdbAdapterFactory
	- @wpdbAdapterFactory::create()
	- Packetery\Module\WpdbTracyPanel
	- Packetery\Module\Carrier\CarDeliveryConfig(sample: %carDeliveryConfig.sample%, enabled: %carDeliveryConfig.enabled%)
	- Packetery\Module\Carrier\WcSettingsConfig(active: %wcCarrierSettingsConfig.active%)
	- Packetery\Module\Checkout
	- Packetery\Module\Carrier\OptionsPage
	- Packetery\Module\FormFactory
	- Packetery\Module\DashboardWidget(surveyConfig: %surveyConfig%)
	- Packetery\Module\Carrier\CountryListingPage
	- Packetery\Module\Order\BulkActions
	- Packetery\Module\Order\Repository
	- Packetery\Module\Order\LabelPrint
	- Packetery\Module\Order\ApiExtender
	- Packetery\Module\Order\GridExtender
	- Packetery\Core\Api\Soap\Client(@optionsProvider::get_api_password())
	- Packetery\Module\Order\DetailCommonLogic
	- Packetery\Module\Order\PacketActionsCommonLogic
	- Packetery\Module\Order\PacketSubmitter
	- Packetery\Module\Order\PacketClaimSubmitter
	- Packetery\Module\EntityFactory\Carrier
	- Packetery\Module\EntityFactory\CustomsDeclaration
	- Packetery\Module\Order\Builder
	- Packetery\Core\Validator\Address
	- Packetery\Core\Validator\Size
	validatorTranslations: Packetery\Module\Order\ValidatorTranslations
	- Packetery\Core\Validator\Order(translations: @validatorTranslations::get())
	- Packetery\Module\Options\Repository
	- Packetery\Module\CustomsDeclaration\Repository
	- Packetery\Module\Api\Internal\OrderController
	- Packetery\Module\Api\Internal\OrderRouter
	- Packetery\Module\Api\Internal\CheckoutController
	- Packetery\Module\Api\Internal\CheckoutRouter
	- Packetery\Module\Api\Registrar
	- Packetery\Module\Order\Modal
	- Packetery\Module\Order\LabelPrintModal
	- Packetery\Module\Options\Exporter
	- Packetery\Module\Order\CollectionPrint
	- Packetery\Module\Order\PacketSynchronizer
	- Packetery\Module\Order\PacketAutoSubmitter
	requestFactory: Packetery\Nette\Http\RequestFactory
	- @requestFactory::fromGlobals()
	- Packetery\Module\Upgrade
	- Packetery\Module\Upgrade\Version_1_4_2
	- Packetery\Module\QueryProcessor
	- Packetery\Module\WeightCalculator
	- Packetery\Module\CurrencySwitcherFacade
	- Packetery\Core\Api\Soap\CreatePacketMapper
	- Packetery\Module\Order\PickupPointValidator
	- Packetery\Module\RateCalculator
	- Packetery\Module\Carrier\PacketaPickupPointsConfig
	- Packetery\Module\Carrier\EntityRepository
	- Packetery\Module\Order\AttributeMapper
	- Packetery\Module\WidgetOptionsBuilder
	- Packetery\Core\PickupPointProvider\CompoundCarrierCollectionFactory
	- Packetery\Core\PickupPointProvider\VendorCollectionFactory
	- Packetery\Module\Options\FlagManager\FeatureFlagProvider
	- Packetery\Module\Options\FlagManager\FeatureFlagNotice
	- Packetery\Module\Options\FlagManager\FeatureFlagDownloader(endpointUrl: %featureFlagConfig.url%)
	- Packetery\Module\Options\FlagManager\FeatureFlagStorage
	- Packetery\Module\Options\TransientPurger
	- Packetery\Module\Order\WcOrderActions
	- Packetery\Module\ShippingZoneRepository
