parameters:
	carDeliveryConfig:
		sample: false # Change to true in order to enable testing sample cars for Packeta Car Delivery
		enabled: false
	wcCarrierSettingsConfig:
		active: false # Change to true in order to activate native Packeta carrier settings
