parameters:
    latteTempFolder: %tempDir%/cache/view

services:
	- Packetery\Module\ContextResolver
	- Packetery\Module\Order\PacketCanceller
	- Packetery\Module\EntityFactory\Address
	- Packetery\Module\Log\Purger
	- Packetery\Module\Log\Repository
	- Packetery\Module\Log\DbLogger
	- Packetery\Module\Log\Page
	- Packetery\Module\CronService
	- Packetery\Module\Product\DataTab
	- Packetery\Module\ProductCategory\FormFields
	- Packetery\Core\Helper
	- Packetery\Module\MessageManager
	- Packetery\Module\Order\Metabox
	- Packetery\Module\Plugin
	latteEngineFactory: Packetery\Module\LatteEngineFactory
	latteEngine: @latteEngineFactory::create(%latteTempFolder%)
	- Packetery\Module\Options\Page
	optionsProvider: Packetery\Module\Options\Provider
	- Packetery\Module\Carrier\Downloader
	- Packetery\Module\Carrier\Updater
	- Packetery\Module\Carrier\Repository
	- PacketeryGuzzleHttp\Client
	wpdbAdapterFactory: Packetery\Module\WpdbAdapterFactory
	- @wpdbAdapterFactory::create()
	- Packetery\Module\Checkout
	- Packetery\Module\Carrier\OptionsPage
	- Packetery\Module\FormFactory
	- Packetery\Module\DashboardWidget
	- Packetery\Module\Carrier\CountryListingPage
	- Packetery\Module\Order\BulkActions
	- Packetery\Module\Order\Repository
	- Packetery\Module\Order\LabelPrint
	- Packetery\Module\Order\GridExtender
	- Packetery\Core\Api\Soap\Client(@optionsProvider::get_api_password())
	- Packetery\Module\Order\PacketActionsCommonLogic
	- Packetery\Module\Order\PacketSubmitter
	- Packetery\Module\EntityFactory\Carrier
	- Packetery\Module\Order\Builder
	- Packetery\Core\Validator\Address
	- Packetery\Core\Validator\Size
	- Packetery\Core\Validator\Order
	- Packetery\Module\Options\Repository
	- Packetery\Module\Order\Controller
	- Packetery\Module\Order\ControllerRouter
	- Packetery\Module\Order\Modal
	- Packetery\Module\Options\Exporter
	- Packetery\Module\Order\CollectionPrint
	- Packetery\Module\Order\PacketSynchronizer
	- Packetery\Module\Order\PacketAutoSubmitter
	requestFactory: PacketeryNette\Http\RequestFactory
	- @requestFactory::fromGlobals()
	- Packetery\Module\Upgrade
	- Packetery\Module\QueryProcessor
	- Packetery\Module\Calculator
	- Packetery\Module\CurrencySwitcherFacade
	- Packetery\Core\Api\Soap\CreatePacketMapper
