parameters:
    latteTempFolder: %tempDir%/cache/view
    surveyConfig:
        active: true
        validTo: 2023-03-31 23:59:59
        url: https://forms.office.com/e/2YjCu9ZEt0
    carDeliveryConfig:
        sample: false
        enabled: false
    wcNativePacketaCarrierSettingsConfig:
        active: false

search:
	- in: %appDir%/src/Packetery

services:
	latteEngineFactory: Packetery\Module\LatteEngineFactory
	latteEngine: @latteEngineFactory::create(%latteTempFolder%)
	optionsProvider: Packetery\Module\Options\Provider
	wpdbAdapterFactory: Packetery\Module\WpdbAdapterFactory
	- @wpdbAdapterFactory::create()
	- Packetery\Module\CarDeliveryConfig(sample: %carDeliveryConfig.sample%, enabled: %carDeliveryConfig.enabled%)
	- Packetery\Module\WCNativeCarrierSettingsConfig(active: %wcNativePacketaCarrierSettingsConfig.active%)
	- Packetery\Module\DashboardWidget(surveyConfig: %surveyConfig%)
	- Packetery\Core\Api\Soap\Client(@optionsProvider::get_api_password())
	validatorTranslations: Packetery\Module\Order\ValidatorTranslations
	- Packetery\Core\Validator\Order(translations: @validatorTranslations::get())
	requestFactory: Packetery\Nette\Http\RequestFactory
	- @requestFactory::fromGlobals()