<?php

return [
	'customer_email'       => 'john.packeta@example.cz',
	'customer_address'     => [
		'billing_first_name'  => 'John',
		'billing_last_name'   => 'Packeta',
		'billing_company'     => '',
		'billing_address_1'   => 'Českomoravská 2408/1a',
		'billing_address_2'   => '',
		'billing_city'        => 'Praha',
		'billing_postcode'    => '190 00',
		'billing_country'     => 'CZ',
		'billing_state'       => '',
		'billing_email'       => 'john.packeta@example.cz',
		'billing_phone'       => '+420123456789',

		'shipping_first_name' => 'John',
		'shipping_last_name'  => 'Packeta',
		'shipping_company'    => '',
		'shipping_address_1'  => 'Českomoravská 2408/1a',
		'shipping_address_2'  => '',
		'shipping_city'       => 'Praha',
		'shipping_postcode'   => '190 00',
		'shipping_country'    => 'CZ',
		'shipping_state'      => '',
	],
	'list_disabled_emails' => [
		'woocommerce_low_stock',
		'woocommerce_no_stock',
		'woocommerce_product_on_backorder',
		'woocommerce_order_status_pending_to_processing',
		'woocommerce_order_status_pending_to_completed',
		'woocommerce_order_status_processing_to_cancelled',
		'woocommerce_order_status_pending_to_failed',
		'woocommerce_order_status_pending_to_on-hold',
		'woocommerce_order_status_failed_to_processing',
		'woocommerce_order_status_failed_to_completed',
		'woocommerce_order_status_failed_to_on-hold',
		'woocommerce_order_status_cancelled_to_processing',
		'woocommerce_order_status_cancelled_to_completed',
		'woocommerce_order_status_cancelled_to_on-hold',
		'woocommerce_order_status_on-hold_to_processing',
		'woocommerce_order_status_on-hold_to_cancelled',
		'woocommerce_order_status_on-hold_to_failed',
		'woocommerce_order_status_completed',
		'woocommerce_order_status_failed',
		'woocommerce_order_fully_refunded',
		'woocommerce_order_partially_refunded',
		'woocommerce_new_customer_note',
		'woocommerce_created_customer',
	],
];
