<?php

return [
	'customer_email'                => 'john.packeta@example.cz',
	'customer_address'              => [
		'billing_first_name'  => 'John',
		'billing_last_name'   => 'Packeta',
		'billing_company'     => '',
		'billing_address_1'   => 'Českomoravská 2408/1a',
		'billing_address_2'   => '',
		'billing_city'        => 'Praha',
		'billing_postcode'    => '190 00',
		'billing_country'     => 'CZ',
		'billing_state'       => '',
		'billing_email'       => 'john.packeta@example.cz',
		'billing_phone'       => '+420123456789',
		'shipping_first_name' => 'John',
		'shipping_last_name'  => 'Packeta',
		'shipping_company'    => '',
		'shipping_address_1'  => 'Českomoravská 2408/1a',
		'shipping_address_2'  => '',
		'shipping_city'       => 'Praha',
		'shipping_postcode'   => '190 00',
		'shipping_country'    => 'CZ',
		'shipping_state'      => '',
	],
	'package_dimensions'            => [
		'length' => 30,
		'width'  => 20,
		'height' => 10,
		'weight' => [5],
	],
	'send_emails'                   => false,
	'list_disabled_emails'          => [
		'woocommerce_low_stock',
		'woocommerce_no_stock',
		'woocommerce_product_on_backorder',
		'woocommerce_order_status_pending_to_processing',
		'woocommerce_order_status_pending_to_completed',
		'woocommerce_order_status_processing_to_cancelled',
		'woocommerce_order_status_pending_to_failed',
		'woocommerce_order_status_pending_to_on-hold',
		'woocommerce_order_status_failed_to_processing',
		'woocommerce_order_status_failed_to_completed',
		'woocommerce_order_status_failed_to_on-hold',
		'woocommerce_order_status_cancelled_to_processing',
		'woocommerce_order_status_cancelled_to_completed',
		'woocommerce_order_status_cancelled_to_on-hold',
		'woocommerce_order_status_on-hold_to_processing',
		'woocommerce_order_status_on-hold_to_cancelled',
		'woocommerce_order_status_on-hold_to_failed',
		'woocommerce_order_status_completed',
		'woocommerce_order_status_failed',
		'woocommerce_order_fully_refunded',
		'woocommerce_order_partially_refunded',
		'woocommerce_new_customer_note',
		'woocommerce_created_customer',
	],
	'shipping_addresses_by_country' => [
		'AT' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Mariahilfer Straße 10',
				'city'       => 'Wien',
				'postcode'   => '1060',
				'country'    => 'AT',
				'phone'      => '+436601234567',
			],
		],
		'BE' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Rue Neuve 123',
				'city'       => 'Bruxelles',
				'postcode'   => '1000',
				'country'    => 'BE',
				'phone'      => '+32470123456',
			],
		],
		'BG' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'bul. Vitosha 5',
				'city'       => 'Sofia',
				'postcode'   => '1000',
				'country'    => 'BG',
				'phone'      => '+359881234567',
			],
		],
		'CY' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Makariou Avenue 25',
				'city'       => 'Nicosia',
				'postcode'   => '1010',
				'country'    => 'CY',
				'phone'      => '+999123456789',
			],
		],
		'CZ' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Vodičkova 10',
				'city'       => 'Praha',
				'postcode'   => '11000',
				'country'    => 'CZ',
				'phone'      => '+420789789789',
			],
		],
		'DE' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Unter den Linden 77',
				'city'       => 'Berlin',
				'postcode'   => '10117',
				'country'    => 'DE',
				'phone'      => '+491601234567',
			],
		],
		'DK' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Strøget 15',
				'city'       => 'Copenhagen',
				'postcode'   => '1550',
				'country'    => 'DK',
				'phone'      => '+4520123456',
			],
		],
		'EE' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Narva mnt 5',
				'city'       => 'Tallinn',
				'postcode'   => '10117',
				'country'    => 'EE',
				'phone'      => '+37251234567',
			],
		],
		'ES' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Gran Via 1',
				'city'       => 'Madrid',
				'postcode'   => '28013',
				'country'    => 'ES',
				'phone'      => '+34612345678',
			],
		],
		'FI' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Mannerheimintie 20',
				'city'       => 'Helsinki',
				'postcode'   => '00100',
				'country'    => 'FI',
				'phone'      => '+358401234567',
			],
		],
		'FR' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Champs-Élysées 50',
				'city'       => 'Paris',
				'postcode'   => '75008',
				'country'    => 'FR',
				'phone'      => '+33612345678',
			],
		],
		'GR' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Ermou 56',
				'city'       => 'Athens',
				'postcode'   => '10563',
				'country'    => 'GR',
				'phone'      => '+306912345678',
			],
		],
		'HR' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Ilica 10',
				'city'       => 'Zagreb',
				'postcode'   => '10000',
				'country'    => 'HR',
				'phone'      => '+385921234567',
			],
		],
		'HU' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Andrássy út 1',
				'city'       => 'Budapest',
				'postcode'   => '1061',
				'country'    => 'HU',
				'phone'      => '+36701701701',
			],
		],
		'IE' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => '20 Dawson Street',
				'city'       => 'Dublin',
				'postcode'   => 'D02 YV04',
				'country'    => 'IE',
				'phone'      => '+353871234567',
			],
		],
		'IT' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Via del Corso 123',
				'city'       => 'Roma',
				'postcode'   => '00187',
				'country'    => 'IT',
				'phone'      => '+393491234567',
			],
		],
		'LT' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Gedimino pr. 9',
				'city'       => 'Vilnius',
				'postcode'   => '01103',
				'country'    => 'LT',
				'phone'      => '+37061234567',
			],
		],
		'LU' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => '5 Rue Large',
				'city'       => 'Luxembourg',
				'postcode'   => '1917',
				'country'    => 'LU',
				'phone'      => '+352621123456',
			],
		],
		'LV' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Brīvības iela 40',
				'city'       => 'Rīga',
				'postcode'   => 'LV-1050',
				'country'    => 'LV',
				'phone'      => '+37121234567',
			],
		],
		'NL' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Kalverstraat 45',
				'city'       => 'Amsterdam',
				'postcode'   => '1012NX',
				'country'    => 'NL',
				'phone'      => '+31612345678',
			],
		],
		'PL' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'ul. Marszałkowska 99A',
				'city'       => 'Warszawa',
				'postcode'   => '00-693',
				'country'    => 'PL',
				'phone'      => '+48601234567',
			],
		],
		'PT' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Avenida da Liberdade 110',
				'city'       => 'Lisboa',
				'postcode'   => '1250-146',
				'country'    => 'PT',
				'phone'      => '+351912345678',
			],
		],
		'RO' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Bulevardul Unirii 12',
				'city'       => 'București',
				'postcode'   => '030119',
				'country'    => 'RO',
				'phone'      => '+40745678123',
			],
		],
		'SE' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Drottninggatan 33',
				'city'       => 'Stockholm',
				'postcode'   => '11151',
				'country'    => 'SE',
				'phone'      => '+46701234567',
			],
		],
		'SI' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Slovenska cesta 46',
				'city'       => 'Ljubljana',
				'postcode'   => '1000',
				'country'    => 'SI',
				'phone'      => '+38640123456',
			],
		],
		'SK' => [
			[
				'first_name' => 'John',
				'last_name'  => 'Packeta',
				'address_1'  => 'Obchodná 10',
				'city'       => 'Bratislava',
				'postcode'   => '811 06',
				'country'    => 'SK',
				'phone'      => '+421912912912',
			],
		],
	],
];
