<div
        class="packeta-widget"
        data-language="{$language}"
        data-country="{$country}"
        data-weight="{$weight}"
>
    <p>
        <a href="javascript:"
           class="packeta-widget-button">{__( 'Choose pickup point', 'packetery' )}</a>
    </p>
    <p class="packeta-pickup-point-name"></p>
</div>
