{varType \Packetery\Module\Order\Entity $order}

<a data-packetery-order-inline-edit class="button"
   data-order-data="{= json_encode(
	   [
		   'id' => $order->getId(),
		   'packetery_weight' => $order->getWeight(),
	   ]
   )}"
>&#9998;</a>
