{php $this->global->formsStack[] = $form}

<input n:name=packetery_order_metabox_nonce />
{foreach ['packetery_weight', 'packetery_width', 'packetery_length', 'packetery_height'] as $inputName}
    <p>
        <label n:name=$inputName />
        <input n:name=$inputName />
    </p>
    <p>{inputError $inputName}</p>
{/foreach}
