{varType PacketeryNette\Forms\Form $formTemplate}

<form n:name=$formTemplate hidden>
    <div data-packetery-customs-declaration-item>
        {foreach $formTemplate['items']->getComponents() as $id => $item}
            {include 'customs-declaration-item.latte' container => $formTemplate['items'], id => $id}
        {/foreach}
    </div>
</form>
