{varType Packetery\Core\Entity\Order $order}
{varType string $weightFormatted}

<div data-packetery-order-id="{$order->getNumber()}" data-packetery-order-grid-cell-weight>
    {$weightFormatted}
</div>
