{varType Packetery\Core\Entity\Order $order}
{varType string $packetIdTrackingUrl}
{varType string $packetClaimIdTrackingUrl}

<a n:if="$packetIdTrackingUrl" href="{$packetIdTrackingUrl}" target="_blank">Z{$order->getPacketId()}</a>
<span n:if="$packetIdTrackingUrl && $packetClaimIdTrackingUrl"> | </span>
<a
		n:if="$packetClaimIdTrackingUrl"
		class="dashicons dashicons-undo"
		href="{$packetClaimIdTrackingUrl}"
		title="{$translations['packetClaimTracking']}"
		target="_blank"
></a>
