<div class="packetery-metabox-overview-buttons">
	<a
			class="button packetery-dashicons-button-fix"
			data-packetery-open-modal="{Packetery\Module\Order\CarrierModal::MODAL_ID}"
	>
		<span class="packetery-dashicons-button-fix-text">{$translations['setCarrier']}</span>
	</a>
</div>
