<ul>
    <li>
        {$translations['packetTrackingOnline']}: <a href="{$packet_tracking_url}" target="_blank">Z{$packet_id}</a>
    </li>
    <li n:if="$showLogsLink">
        <a class="button" href="{$showLogsLink}">{$translations['showLogs']}</a>
    </li>
    <li>
        <a
            class="button"
            data-packetery-confirm="{$reallyCancelPacket}"
            href="{$packetCancelLink}"
        >{$cancelPacket}</a>
    </li>
</ul>
