<div class="packetery-metabox-overview-buttons">
    <span>Carrier name placeholder</span>
    <a
            class="button dashicons dashicons-car packetery-dashicons-button-fix"
            data-packetery-open-modal="{Packetery\Module\Order\CarrierModal::MODAL_ID}"
    >
        <span class="packetery-dashicons-button-fix-text">{$translations['changeCarrier']}</span>
    </a>
</div>
<hr>