<select name="packetery_order_type">
	<option value="">{$translations['packetaMethodType']}</option>
	<option value="carriers"{if $packeteryOrderType === 'carriers'} selected="selected"{/if}>{$translations['carrierPackets']}</option>
	<option value="packeta"{if $packeteryOrderType === Packetery\Core\Entity\Carrier::INTERNAL_PICKUP_POINTS_ID}
		selected="selected"{/if}>{$translations['packetaPickupPointPackets']}</option>
</select>
{foreach $linkFilters as $name => $value}
	<input type="hidden" name="{$name}" value="{$value}">
{/foreach}
