<div class="packetery-options-page">
	<h1>{$translations['packeta']} - {$translations['countryOptions']}: {$country_iso|upper}</h1>
	{$flashMessages|noescape}
	{php settings_errors()}

	{if $forms}
		{foreach $forms as $carrier_data}
			{include 'carrier.latte', carrier_data: $carrier_data}
		{/foreach}
	{else}
		{$translations['noKnownCarrierForThisCountry']}
	{/if}
</div>
