{include '../packeta-header.latte'}

<div class="packetery-options-page packeta_page">
	{$flashMessages|noescape}
	{php settings_errors()}

	{if $forms}
		<div class="packeta_carrier_list">
			{foreach $forms as $carrier_data}
				{include 'carrier.latte', carrier_data: $carrier_data}
			{/foreach}
		</div>
	{else}
		{$translations['noKnownCarrierForThisCountry']}
	{/if}
</div>
