<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_place_after">
		<observer instance="Packetery\Checkout\Observer\Sales\OrderPlaceAfter" name="packetery_checkout_observer_sales_orderplaceafter_sales_order_place_after"/>
	</event>
	<event name="admin_sales_order_address_update">
		<observer instance="Packetery\Checkout\Observer\Sales\AddressPlaceAfter" name="packetery_checkout_observer_sales_addressplaceafter_admin_sales_order_address_update"/>
	</event>
</config>
