parameters:
    latteTempFolder: %tempDir%/cache/view

services:
	- PacketeryModule\Product\DataTab
	- Packetery\Helper
	- PacketeryModule\MessageManager
	- PacketeryModule\Order\Metabox
	- PacketeryModule\Plugin
	latteEngineFactory: PacketeryModule\LatteEngineFactory
	latteEngine: @latteEngineFactory::create(%latteTempFolder%)
	- PacketeryModule\Options\Page
	optionsProvider: PacketeryModule\Options\Provider
	- PacketeryModule\Carrier\Downloader
	- PacketeryModule\Carrier\Updater
	- PacketeryModule\Carrier\Repository
	- PacketeryGuzzleHttp\Client
	wpdbFactory: PacketeryModule\WpdbFactory
	wpdb: @wpdbFactory::create()
	- PacketeryModule\Checkout
	- PacketeryModule\Carrier\OptionsPage
	- PacketeryModule\FormFactory
	- PacketeryModule\Carrier\CountryListingPage
	- PacketeryModule\Order\BulkActions
	- PacketeryModule\Order\LabelPrint
	- PacketeryModule\Order\GridExtender
	- Packetery\Api\Soap\Client(@optionsProvider::get_api_password())
	- PacketeryModule\Order\PacketSubmitter
	- PacketeryModule\EntityFactory\Carrier
	- PacketeryModule\EntityFactory\Order
	- Packetery\Validator\Address
	- Packetery\Validator\Size
	- Packetery\Validator\Order
