<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Packetery_Checkout::packetery" title="Packeta" module="Packetery_Checkout" action="packetery/order/index" sortOrder="51" resource="Packetery_Checkout::packetery"/>
        <add id="Packetery_Checkout::orders" parent="Packetery_Checkout::packetery" title="Orders" module="Packetery_Checkout" action="packetery/order/index" sortOrder="52" resource="Packetery_Checkout::packetery"/>
        <add id="Packetery_Checkout::pricingRules" parent="Packetery_Checkout::packetery" title="Pricing rules" module="Packetery_Checkout" action="packetery/pricingrule/items" sortOrder="54" resource="Packetery_Checkout::packetery"/>
    </menu>
</config>
