<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="packetery" sortOrder="999" translate="label">
            <label>Packeta</label>
        </tab>

        <section id="carriers" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <group id="packetery" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <field id="version" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="label">
                    <label>Version</label>
                    <backend_model>Packetery\Checkout\Block\System\Config\Form\Version</backend_model>
                </field>
                <label>Packeta</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                    <label>Title</label>
                    <validate>required-entry</validate>
                </field>
                <field id="allowedMethods" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allowed Methods</label>
                    <source_model>Packetery\Checkout\Model\Carrier\Imp\Packetery\MethodSelect</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
                    <label>API key</label>
                    <validate>required-entry</validate>
                    <backend_model>Packetery\Checkout\Block\System\Config\Form\ApiKeyValidate</backend_model>
                </field>
                <field id="max_weight" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="62" translate="label" type="text">
                    <label>Max. weight</label>
                    <validate>required-entry validate-not-negative-number</validate>
                </field>
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="63" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Free Shipping Threshold</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="free_shipping_subtotal" translate="label" type="text" sortOrder="64" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Free Shipping Amount Threshold</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="free_shipping_enable">1</field>
                    </depends>
                </field>
                <field id="cod_methods" translate="Module" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cash on delivery</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Packetery\Checkout\Model\Config\Source\PaymentMethod</source_model>
                    <comment>The payment methods selected above will be considered as cash on delivery (for Packeta).</comment>
                </field>
                <field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="9000" translate="label" type="text">
                    <label>Sort Order</label>
                </field>
            </group>
            <group id="packeteryPacketaDynamic" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Packeta Carriers</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowedMethods" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allowed Methods</label>
                    <source_model>Packetery\Checkout\Model\Carrier\Imp\PacketeryPacketaDynamic\MethodSelect</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="max_weight" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="62" translate="label" type="text">
                    <label>Max. weight</label>
                    <validate>required-entry validate-not-negative-number</validate>
                </field>
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="63" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Free Shipping Threshold</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="free_shipping_subtotal" translate="label" type="text" sortOrder="64" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Free Shipping Amount Threshold</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="free_shipping_enable">1</field>
                    </depends>
                </field>
                <field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="9000" translate="label" type="text">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
