name: Deploy to WordPress.org
on:
    release:
        types: [ published ]
jobs:
    deploy:
        name: New release
        runs-on: ubuntu-24.04
        steps:
            -   name: Checkout code
                uses: actions/checkout@v2 # https://github.com/actions/checkout/releases/tag/v2

            -   name: Install Subversion
                run: sudo apt-get install subversion

            -   name: WordPress plugin deploy
                id: deploy
                uses: 10up/action-wordpress-plugin-deploy@stable # https://github.com/10up/action-wordpress-plugin-deploy
                with:
                    generate-zip: true
                env:
                    SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
                    SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                    SLUG: packeta
            -   name: Upload release asset
                uses: softprops/action-gh-release@v2
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    files: ${{ github.workspace }}/packeta.zip
