name: PHPStan Analysis

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    phpstan:
        runs-on: ubuntu-24.04

        strategy:
            matrix:
                php-version: [ '8.1', '8.2', '8.3', '8.4' ]

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    extensions: mbstring, intl
                    coverage: none

            -   name: php version
                run: php -v

            -   name: Install Composer dependencies
                run: composer install

            -   name: Run PHPStan with PHP version 7.4 - 8.4
                run: composer run phpstan:all
